:root {
    --background: white;
    --background-alt: #e6e6e6;
    --text: #222222;
    --accent: #05669c;
    --accent-alt: #eef9ff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: black;
        --background-alt: #121212;
        --text: #eeeeee;
        --accent: #006095;
        --accent-alt: #00141f;
    }
}

html {
    background-color: var(--background);
    color: var(--text);
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

body {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--accent);
    text-decoration: none;
}

main {
    margin: 32px 0 32px 0;
}

menu {
    list-style: none;
    padding: 0;
}

menu li {
    display: inline;
}

menu li:after {
    content: ' | ';
    color: var(--background-alt);
}

menu li:last-child:after {
    content: '';
}

header {
    margin-bottom: 32px;
}

menu {
    margin-bottom: 32px;
}

footer {
    margin-top: 32px;
}

article {
    margin: 32px 0 64px 0;
}

hr {
    border: none;
    border-top: 1px double var(--background-alt);
    color: var(--background-alt);
    overflow: visible;
    text-align: center;
    height: 4px;
}

hr:after {
    background: var(--background);
    content: 'ยง';
    padding: 0 4px;
    position: relative;
    top: -0.7em;
}

blockquote {
    border-left: 2px solid var(--background-alt);
    padding-left: 1em;
    margin-left: 1em;
}

code {
    color: var(--accent);
    background-color: var(--accent-alt);
    padding: 3px;
    border-radius: 0.4em;
    font-size: 16px;
}

pre {
    background-color: var(--accent-alt);
    border-radius: 0.4em;
}

pre code {
    background-color: inherit;
}