:root {
	--background: white;
	--background-alt: #e6e6e6;
	--text: #222222;
	--text-alt: #666666;
	--accent: #ff003f;
	--accent-alt: #fff7f9;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: black;
		--background-alt: #121212;
		--text: #eeeeee;
		--text-alt: #bbbbbb;
		--accent-alt: #1f0008;
	}
}

html {
	background-color: var(--background);
	color: var(--text);
	font-family: sans-serif;
	line-height: 1.6;
	font-size: 16px;
}

body {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 16px;
}

a {
	color: var(--accent);
	text-decoration: none;
}

article header h1 a {
	color: var(--text);
}

article header h1 {
	margin-block-end: 0.2em;
}

article header time {
	color: var(--text-alt);
}

main {
	margin: 32px 0 32px 0;
}

body > header h1 {
	font-size: 2.8em;
	padding-bottom: 0px;
}

menu {
	list-style: none;
	padding: 0;
}

menu li {
	display: inline;
}

menu li:after {
	content: ' | ';
	color: var(--background-alt);
}

menu li:last-child:after {
	content: '';
}

header {
	margin-bottom: 16px;
}

menu {
	margin-bottom: 32px;
}

footer {
	margin-top: 32px;
}

article {
	margin: 32px 0 64px 0;
}

hr {
	border: none;
	border-top: 1px double var(--background-alt);
	color: var(--background-alt);
	overflow: visible;
	text-align: center;
	height: 4px;
}

hr:after {
	background: var(--background);
	content: 'ยง';
	padding: 0 4px;
	position: relative;
	top: -0.7em;
}

blockquote {
	border-left: 2px solid var(--background-alt);
	padding-left: 1em;
	margin-left: 1em;
	border-left-color: var(--accent);
}

code {
	color: var(--accent);
	background-color: var(--accent-alt);
	padding: 3px;
	border-radius: 0.4em;
	font-size: 16px;
}

pre {
	background-color: var(--accent-alt);
	border-radius: 0.4em;
}

pre code {
	background-color: inherit;
}

img, video, iframe {
	max-width: 100%;
	height: auto;
}

.microblog_conversation {
	margin: 16px 0;
}

.microblog_post {
	padding-top: 16px;
	margin: 16px 0;
	border-top: 1px solid var(--background-alt);
}

.microblog_avatar {
	border-radius: 1em;
}

.microblog_time a {
	color: var(--text-alt);
}

.bookshelf_book {
	min-height: 140px;
	margin-top: 4px;
	margin-bottom: 8px;
}

.bookshelf_book img {
	min-height: 100px;
	width: 80px !important;
	min-width: 80px !important;
	max-height: 140px !important;
	margin-right: 8px;
	padding-right: 0 !important;
	border-radius: 6px !important;
	background-color: var(--background-alt);
	justify-content: center;
}

.bookshelf_author {
	color: var(--text-alt);
	font-weight: 500;
	font-size: 1em;
}

.bookshelf_title {
	font-weight: 600;
	font-size: 1em;
}
