{{ define "main" }}
    {{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 25) }}
    {{ range $paginator.Pages  }}
    <article>
        <header>
            <h1>
                {{ if .Title }}
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                {{ end }}
            </h1>
            <a href="{{ .Permalink }}" class="u-url">
                <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
                    {{ .Date.Format "Jan 2, 2006" }}
                </time>
            </a>
        </div>
        {{ .Content }}
    </article>
    {{ end }}
{{ end }}
