{{ define "main" }}
<article>
    <header>
        {{ if .Title }}
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        {{ end }}
        <a href="{{ .Permalink }}" class="u-url">
            <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
                {{ .Date.Format "Jan 2, 2006" }}
            </time>
        </a>
    </header>
    {{ .Content }}
</article>
{{ if .Site.Params.include_conversation }}
<hr />
<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
{{ end }}
{{ end }}
